.logos{
    height: 100px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
  .amrita-logo{
    width: 50%;
    height: 80%;
    padding-top: 2%;
    padding-left: 10%;

  }
  .ammachi-labs-logo{
    width: 50%;
    height: 50%;
    padding-top: 2%;
    padding-left: 38%;
  }
  .Heading{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2%;
  }
  .heading-organization{
    font-size: 150%;
  }
  .heading-application{
    font-size: 200%;
    font-weight: bold;
  }
  .disclaimer{
    position: fixed;
    left: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  /*
  <div class = "logos">
      <img class = "amrita-logo" src="logo.png">
      <div class = "Heading">
        <div class = "heading-organization">
          Skills-eLabs
        </div>
        <div class = "heading-application">
          3D Simulation sample
        </div>
      </div>
      <img class = "ammachi-labs-logo" src = "ammachi_labs_png.png">
    </div> 
  */